* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

/* path router */
.product_title_path {
    font-size: 14px;
    padding: 25px 0 10px 0px
}

.product_title_path span {
    padding: 0 10px;

}

.product_title_path .red_word,
.red_word {
    color: #ff2d37;
}

/* title name product */
.product_title_name {
    text-align: center;
    padding-bottom: 25px;
    font-size: 24px;
    color: #ff2d37
}

/* ảnh mô tả list */
.product_list_img {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 10px;
}

.one_product_title_name_ {
    font-size: 20px;
    border-top: 1px dotted #ff2d37;
    margin-bottom: 10px;
    padding-top: 15px;

}

/*  */
.product_name_brand_quantity {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.product_brand:first-child {
    padding-right: 10px;
    border-right: 1px solid black;
}

.product_brand>.red_word {
    padding-left: 5px;
}

.product_brand:last-child {
    padding-left: 10px;
}

.note_choose_size {
    font-size: 14px;
    color: #337AB7;
    margin-left: 10px;
    margin-bottom: 10px;
}

.one_product_price_detail {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ff2d37;
    font-weight: 600;
    margin-bottom: 10px;
}

.product_currency {
    text-decoration: underline;

}

.product_one_price_old {
    text-decoration: line-through;
    color: #8d90a6;
    font-size: 14px;
    margin-left: 10px;
}

/* số lượng */
.product__one_quantity {}

.form_product_submit_quatity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.form_product_submit_quatity .product_quantity_name{
    margin-right: 40px;
    font-size: 16px;
    font-weight: 600;
}
.form_product_submit_quatity .quantity_change_number{
    border:1px solid #cccc;
}
.form_product_submit_quatity button,
.form_product_submit_quatity input{
    border:none;
    outline:none;
    width: 35px;
    height: 35px;
    text-align: center;
}
    .form_product_submit_quatity input{
   width: 40px;
   font-size: x-larger;
   
    }

    .one_product_btn_buy{
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    .one_product_btn_buy button{
        outline:none;
        padding: 15px 25px;
        margin-right: 20px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius:50px;
        border: 1px solid #ff2d37;
        background-color: #ff2d37;
    }
    .one_product_btn_buy button:hover{
        background-color: #fff;
        color: #ff2d37;
    }

    .contact_information{
        border: 1px solid #ff2d37;
        padding: 8px 25px;
        font-size: 14px;
        display: flex;
        position: relative;
        text-align: center;
        border-radius: 50px 0px 0px 50px;
    }
    .prodcut_icon_phone_number{
        position: absolute;
        background-color: #ff2d37;
        color: #fff;
        right: -44px;
        z-index: 10;
        top: -6px;
        width: 60px;height: 60px;
        border-radius: 50%;
       
    }
    .contact_information:hover{
        background-color: #ffc6c9;
        color: #fff;
    }
    .prodcut_icon_phone_number i{
        margin-top: 15px;
        /* text-align: center; */
    }


    /* bình luận */

    .product_change_tab{
        display: flex;
        list-style: none;
        background: #ff2d37;
        color: #fff;
        font-weight: 500;
    }
    .product_change_tab li{
        padding: 10px;
    }
    .product_desc_detail{
        margin-right: 20px;
        border: 1px solid #ccc;
        padding: 15px;
        color: #9D9C9C;
    }

    .product_info_shipper{
padding: 15px;
border: 1px solid #ddd;
    }
    .product_info_shipper-item{
        display: flex;
        /* justify-content: center; */
        margin-bottom: 15px;
    }
    .product_info_shipper-item-img{
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
    .product_info_shipper-title{
        padding-top: 5px;
        color: #282828;
        padding-left: 4px;
        font-size: 15px;
    }
    .product_info_shipper-title .product_info_shipper-title--name{
        padding-bottom: 4px;
        font-weight: 600;
    }
    .product_info_shipper-desc-title{
        font-size: 14px;
    }

    /* bộ sưu tập */

    .collection_product_list{
        margin: 30px 0;
        font-size: 18px;
        color: #282828;
        font-weight: 500;
        font-size: 18px;
    text-transform: uppercase;
    }
    .collection_product_list:hover{
        color:#ff2d37;
    }

    .one_collection_product_list--item-detail{
        padding: 10px;
        display: flex;
        align-items: center;
        border: 1px dotted #ddd;
    }
    .one_collection_product_list--item-detail+.one_collection_product_list--item-detail{
        margin-top: 15px;
    }
    .one_product_list--item-detail-img{
        width: 85px;
        height: 85px;
    }
    .one_product_list--item-detail-nameproduct{
        padding-left: 15px;

    }
    .one_product_list--item-detail-nameproduct a{
        color: #282828;
        padding-bottom: 2px;
        font-size: 15px;
    }
    .one_product_list--item-detail-nameproduct a:hover{
color: #ff2d37;
    }
    .one_product_list--item-detail-nameproduct .red_word{
        font-weight: 550;
        padding: 4px 4;
    }
    .one_product_list--item-detail-nameproduct .product_one_price_old{
        margin: 0;
    }

    h2.product_list_with_categories_title{
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        padding: 15px 0 20px 0;
    }