* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.pay_detai_left {
    padding: 28px;
}

h4.name_shop {
    margin-bottom: 21px;
}

h4.name_shop a {
    font-size: 28px;
    color: #2a9dcc;
    text-decoration: none;
    cursor: pointer;
}

h4.name_shop:hover a,
a.info_pay_sign_in:hover {
    color: #2a6395;
}

.title_info_pay, .method_pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.title_info_pay .title_pay {
    font-size: 18px;
}

.title_info_pay .info_pay_sign_in {
    display: block;
    display: flex;
    align-items: center;

    color: #2a9dcc;
}

.title_info_pay .info_pay_sign_in span {

    display: block;
    margin-right: 10px;
}



/* form nhận hàng */
form.info_order_product {
    display: flex;
    flex-direction: column;
}

form.info_order_product input, form.info_order_product select, form.info_order_product textarea {
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* vận chuyển */
.border_form {
    padding: 14px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.border_form .ion_payment>i {
    font-size: x-large;
    color: #2a9dcc
}
p.price_shipping{
    position: relative;
}
p.price_shipping .icon_d_posiotion_{
    position:absolute;
    bottom: 2px;
    padding-left: 2px;
    text-decoration: underline;
  
}
p.method_pay {
    font-size: 18px;
    font-weight: bold;
}

/*  */
.pay_detai_right {
    background-color: #eee;
    border-left: 1px solid #ccc;
    height: 100vh;
}

.pay_detai_right .order_pay_title {
    padding: 28px 0 28px 28px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.product_order_info{
    height: 300px;
overflow-y: scroll;
}
table.product_order_info_detail{   
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}
table.product_order_info_detail th{
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    font-weight: 500;
}
table.product_order_info_detail td{
    border: 1px solid #ccc;
    padding: 4px;
}
table.product_order_info_detail td:nth-child(3){
width: 50px;
}
table.product_order_info_detail td:nth-child(4){
    padding: 0px;
    text-align: left;
    padding-left: 2px;
}
.product_order_info_detail-img{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;

}


.table_total_pay{
    padding: 14px 0 14px 28px;
    color: #717171;
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding-right: 15px;
}
.table_total_pay 
.price_total_pay,
.price_total_all_pay,
.order_payment_btn{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.price_total_all_pay{
    border-top: 1px solid #ccc;
    font-size: 18px;
    padding-top: 10px;
}
.price_total_all_pay .price_total_all_pay-color{
    color: #2a9dcc;
}

.order_payment_btn{
    padding-right: 10px;
    font-size: 15px;
}
.order_payment_btn button.order_total_pay_all-button{
    padding: 15px 25px;
    background-color:#2a6395;
  letter-spacing: 1.8px;
  font-size: 16px;
    color:white;
    border-radius:5px;
    font-weight: 600;
    cursor: pointer;
    border:none;
    outline:none;
}
.return_cart_detail{
    color:#2a9dcc;
padding-left: 4px;
}
.return_cart_detail:hover i {
    transform: scale(1, 0.5);
    margin-right: 5px;
}
.order_payment_btn button.order_total_pay_all-button:hover{
    background-color: #2a9dcc;
}