.contentManager--product__header .contentManager--product__header--title input::placeholder {
    color: #ccc;
    font-size: 16px;
    opacity: 0.5;
}

.contentManager--product__header .contentManager--product__header--title form input {
    border: 1px solid #ffffff;
    border-right: none;
    background-color: #0F172A;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    width: 600px;
    padding: 15px 10px 15px 15px;
    outline: none;
}

.contentManager--product__header .contentManager--product__header--title form {
    display: flex;
    padding-top: 30px;
}

.contentManager--product__header--control>span {
    font-size: 15px;
}

.contentManager--product__header .contentManager--product__header--title form button {
    border: 1px solid #ffffff;
    border-left: none;
    background-color: #0F172A;
    border-radius: 0 5px 5px 0px;
    font-size: 24px;
    padding: 5px 15px 5px 5px;
    cursor: pointer;
    outline: none;
}

.contentManager--product__header .contentManager--product__header--title form button .fa-solid {
    color: #ffffff;
}

.contentManager--product__header .contentManager--product__header--control span {
    color: #ffffff;
}

.contentManager--product__header .contentManager--product__header--control {
    display: flex;
    align-items: center;
}

.contentManager--product__header .contentManager--product__header--control .fa-solid {
    color: #ffffff;
    padding-right: 10px;
    font-size: 18px;
}

.contentManager--product__header .contentManager--product__header--control .fa-brands {
    color: #ffffff;
    padding-right: 10px;
    font-size: 22px;
}

.contentManager--product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentManager--product__footer {
    padding: 20px 0;
}

.contentManager--product__footer .contentManager--product__footer--addProduct {
    text-align: right;
}

.contentManager--product__footer .contentManager--product__footer--addProduct button .fa-solid {
    color: #ffffff;
    font-size: 18px;
    padding-right: 5px;
}

.contentManager--product__footer .contentManager--product__footer--addProduct button {
    padding: 10px;
    border-radius: 5px;
    background-color: #00A85A;
    border: 1px solid #00A85A;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.contentManager--product__footer .contentManager--product__footer--addProduct button:hover {
    background-color: #04884b;
    border: 1px solid #04884b;
}

.contentManager--product__footer--table {
    margin-top: 30px;
    background-color: #0F172A;
    border-radius: 5px;
    padding-bottom: 30px;
    border-top: 2px solid #ffffff;
}

.contentManager--product__footer .contentManager--product__footer--table table {
    border-collapse: collapse;
    width: 100%;
}

.contentManager--product__footer .contentManager--product__footer--table table th {
    color: #ffffff;
    padding: 10px;
}

.contentManager--product__footer .contentManager--product__footer--table table td {
    color: #ffffff;
    text-align: center;
    padding: 5px 15px;
}

.contentManager--product__footer .contentManager--product__footer--table table td.btn-action button {
    padding: 5px;
    background-color: #93D3A1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contentManager--product__footer .contentManager--product__footer--table table td.btn-action button:hover {
    background-color: #74b182;
}

.contentManager--product__footer .contentManager--product__footer--table table td.btn-action button .fa-solid {
    font-size: 18px;
}

.contentManager--product__footer .contentManager--product__footer--table table td.status button {
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff
}

.contentManager--product__footer .contentManager--product__footer--table table td.status button.status-isset {
    background-color: #F39C12;
}

.contentManager--product__footer .contentManager--product__footer--table table td.status button.status-empty {
    background-color: #DD4B39;
}

.contentManager--product__footer--table>ul {
    padding-top: 20px;
    text-align: center;
}

.contentManager--product__footer--table>ul>li {
    display: inline-block;
}

.contentManager--product__footer--table>ul>li>a {
    background-color: #ffffff;
    display: block;
    padding: 8px 13px;
}

.contentManager--product__footer--table>ul>li>a:hover {
    background-color: #F39C12;
    color: #ffffff;
    transition: all 0.3s linear;
}

.contentManager--product__footer--table>ul>li>a:hover>i {
    color: #ffffff;
}